version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
  
  - package-ecosystem: "cargo"
    directory: "/contracts/token-factory"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
